<%- include ('../partials/header') %>
<div class="container">
    <h1 class="text-center mt-5 mb-3 text-warning">Edit <%=campground.name%></h1>
    <form action="/campgrounds/<%=campground.id%>?_method=PUT" class="text-center" style="width: 400px; margin:0 auto" method="POST" >
        <div class="form-group">
            <input name="campground[campName]" class="form-control" value="<%=campground.name%>" type="text" />
        </div>
        <div class="form-group">
            <input name="campground[campUrl]" class="form-control" type="text" value="<%=campground.image%>"/>
        </div>
        <div class="form-group">
            <input name="campground[description]" class="form-control" type="text" placeholder="Camp Description" value="<%=campground.description%>"/>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-success" type="submit">Submit</button>
        </div>
        <a class="text-center" href="/campgrounds">Go Back</a>
    </form>
</div>
